<a href="https://colab.research.google.com/github/amun83/Koscom-FinancialDataCamp/blob/master/FD102_Forecasting_Natural_Gas_ETN_Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Sources
* https://www.investing.com/commodities/natural-gas
* https://www.eia.gov/naturalgas/data.php
* http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/ao_index.html

### ETP
* 신한 천연가스 선물 ETN(H)
* 신한 레버리지 천연가스 선물 ETN(H)
* 신한 인버스 천연가스 선물 ETN(H)
* 신한 인버스 2X 천연가스 선물 ETN(H)
* 삼성 레버리지 천연가스 선물 ETN
* 삼성 인버스 2X 천연가스 선물 ETN

In [0]:
!pip install -q html5lib
!pip install -q lxml
!pip install -q pandas_datareader
!pip install -q finance-datareader
!pip install -q gspread

In [0]:
import requests
import datetime
import urllib.parse
import numpy as np
import pandas as pd
import re

from bs4 import BeautifulSoup
from pandas.plotting import scatter_matrix

%matplotlib inline
import matplotlib.pyplot as plt

import pandas_datareader as pdr
import FinanceDataReader as fdr

from IPython.display import display

## 데이터 읽기

In [5]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [29]:
# Dow Jones Commodity Index Natural Gas TR
with open("/gdrive/My Drive/Natural Gas Data/DJCI.csv", "r") as f:
  df_DJCI = pd.read_csv(f, index_col = 0, parse_dates = True)
  display(pd.concat([df_DJCI.head(3), df_DJCI.tail(3)]))

,Dow Jones Commodity Index Natural Gas TR,Dow Jones Commodity Index Natural Gas ER,Dow Jones Commodity Index Natural Gas
Effective date,,,
2018-11-16,0.85,0.60,233.33
2018-11-15,0.80,0.56,219.85
2018-11-14,0.97,0.68,266.34
2008-11-04,21.64,15.70,392.55
2008-11-03,20.50,14.87,371.83
2008-10-31,20.33,14.75,368.84

In [30]:
# Henry Hub Natural Gas Spot
with open("/gdrive/My Drive/Natural Gas Data/NG_Spot.csv", "r") as f:
  df_Spot = pd.read_csv(f, index_col = 0, parse_dates = True)
  display(pd.concat([df_Spot.head(3), df_Spot.tail(3)]))

            Henry Hub Natural Gas Spot Price (Dollars per Million Btu)
Date
1997-01-07                                               3.82
1997-01-08                                               3.80
1997-01-09                                               3.61
2018-11-09                                               3.74
2018-11-12                                               3.96
2018-11-13                                               4.10

In [31]:
# NYMEX Natural Gas Futures
with open("/gdrive/My Drive/Natural Gas Data/NG_Futures.csv", "r") as f:
  df_Futures = pd.read_csv(f, index_col = 0, parse_dates = True)
  display(pd.concat([df_Futures.head(3), df_Futures.tail(3)]))

,Natural Gas Futures Contract 1 (Dollars per Million Btu),Natural Gas Futures Contract 2 (Dollars per Million Btu),Natural Gas Futures Contract 3 (Dollars per Million Btu),Natural Gas Futures Contract 4 (Dollars per Million Btu)
Date,,,,
1993-12-20,NaN,NaN,NaN,1.894
1993-12-21,NaN,NaN,NaN,1.830
1993-12-22,NaN,NaN,NaN,1.859
2018-11-12,3.788,3.800,3.660,3.293
2018-11-13,4.101,4.147,4.019,3.712
2018-11-14,4.837,4.898,4.770,4.472

In [36]:
# EIA Weekly Natural Gas Storage Report
with open("/gdrive/My Drive/Natural Gas Data/NG_Storage.csv", "r") as f:
  df_Storage = pd.read_csv(f, index_col = 0, parse_dates = True)
  display(pd.concat([df_Storage.head(3), df_Storage.tail(3)]))

,Source,East Region,Midwest Region,Mountain Region,Pacific Region,South Central Region,Salt,NonSalt,Total Lower 48
Week ending,,,,,,,,,
2010-01-01,Derived EIA Weekly Estimates,769,900,195,268,985,159,826,"3,117"
2010-01-08,Derived EIA Weekly Estimates,703,820,185,257,886,123,763,"2,850"
2010-01-15,Derived EIA Weekly Estimates,642,750,176,246,793,91,702,"2,607"
2018-10-26,EIA-912,826,956,180,262,919,234,686,"3,143"
2018-11-02,EIA-912,831,980,182,265,949,253,696,"3,208"
2018-11-09,EIA-912,835,991,181,266,974,272,702,"3,247"

In [33]:
# NOAA Arctic Oscillation Index
with open("/gdrive/My Drive/Natural Gas Data/AO_Index.csv", "r") as f:
  df_AOI = pd.read_csv(f, header = None, index_col = 0, parse_dates = [[0, 1, 2]])
  display(pd.concat([df_AOI.head(3), df_AOI.tail(3)]))

                3
0_1_2
1979-01-01 -1.556
1979-01-02 -0.888
1979-01-03  0.255
2018-10-29  0.508
2018-10-30  0.754
2018-10-31  0.776

In [34]:
# Crude Oil WTI Futures
with open("/gdrive/My Drive/Natural Gas Data/WTI_Futures.csv", "r") as f:
  df_WTI = pd.read_csv(f, index_col = 0, parse_dates = True)
  display(pd.concat([df_WTI.head(3), df_WTI.tail(3)]))

            Price   Open   High    Low     Vol. Change %
Date
2018-11-19  56.98  57.31  57.55  56.83        -   -0.56%
2018-11-18  57.30  57.00  57.36  56.93        -    1.49%
2018-11-16  56.46  56.58  57.96  55.89  159.00K    0.00%
1990-01-04  23.41  23.90  23.92  22.83   53.07K   -1.14%
1990-01-03  23.68  23.19  23.80  23.00   50.06K    3.45%
1990-01-02  22.89  21.81  22.92  21.79   45.18K    4.90%

In [35]:
# US Dollar Index
with open("/gdrive/My Drive/Natural Gas Data/Dollar_Index.csv", "r") as f:
  df_DI = pd.read_csv(f, index_col = 0, parse_dates = True)
  display(pd.concat([df_DI.head(3), df_DI.tail(3)]))

            Price   Open   High    Low Vol. Change %
Date
2018-11-19  96.36  96.45  96.57  96.32    -   -0.07%
2018-11-18  96.43  96.43  96.45  96.38    -   -0.04%
2018-11-16  96.47  97.05  97.06  96.40    -   -0.47%
1990-01-03  94.42  94.15  94.52  94.08    -    0.14%
1990-01-02  94.29  93.13  94.31  93.08    -    1.16%
1990-01-01  93.21  93.19  93.31  93.08    -    0.00%

In [39]:
'''
polysi = pd.concat([polysi, df_pvinsights, df_sunsirs_ps[["Price_USD_KG", "Price_TDY", "CNY_USD"]]], axis = 1)
polysi.columns = ("PVInsights", "Sunsirs", "Sunsirs_CNY", "CNY_USD")
polysi.head(5)
'''
M = pd.concat([
    df_DJCI['Dow Jones Commodity Index Natural Gas TR'],
    df_Spot,
    df_Futures,
    df_Storage['Total Lower 48'],
    df_AOI,
    df_WTI['Price'],
    df_DI['Price']
], axis = 1)

M.columns = ['DJCI', 'Spot', 'Fut1', 'Fut2', 'Fut3', 'Fut4', 'Storage', 'AOI', 'WTI', 'DI']

M.tail(100)

,DJCI,Spot,Fut1,Fut2,Fut3,Fut4,Storage,AOI,WTI,DI
2018-08-08,0.59,2.99,2.949,2.955,2.989,3.077,NaN,-0.883,66.94,95.05
2018-08-09,0.59,3.02,2.955,2.959,2.992,3.077,NaN,-0.967,66.81,95.50
2018-08-10,0.59,2.96,2.944,2.949,2.982,3.067,"2,386",-0.914,67.63,96.36
2018-08-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.914,NaN,NaN
2018-08-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.897,NaN,NaN
2018-08-13,0.59,2.92,2.930,2.936,2.971,3.059,NaN,-1.114,67.20,96.39
2018-08-14,0.60,3.02,2.959,2.966,3.002,3.092,NaN,-1.411,67.04,96.73
2018-08-15,0.59,3.02,2.940,2.948,2.985,3.078,NaN,-1.752,65.01,96.70
2018-08-16,0.58,3.02,2.908,2.913,2.950,3.046,NaN,-1.885,65.46,96.64
2018-08-17,0.59,3.01,2.946,2.949,2.986,3.082,"2,435",-1.752,65.91,96.10
2018-08-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.339,NaN,NaN
2018-08-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.464,NaN,NaN
2018-08-20,0.59,3.04,2.941,2.932,2.966,3.061,NaN,0.000,66.43,95.90
2018-08-21,0.59,3.01,2.980,2.964,2.991,3.083,NaN,0.010,67.35,95.26
2018-08-22,0.59,3.02,2.956,2.944,2.975,3.069,NaN,-0.130,67.86,95.15
2018-08-23,0.59,3.01,2.964,2.953,2.986,3.080,NaN,-0.070,67.83,95.67
2018-08-24,0.58,2.99,2.917,2.913,2.946,3.042,"2,504",-0.016,68.72,95.15
2018-08-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.140,NaN,NaN
2018-08-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.351,NaN,NaN
2018-08-27,0.58,2.98,2.876,2.869,2.899,2.995,NaN,1.458,68.87,94.78
2018-08-28,0.57,2.98,2.852,2.845,2.873,2.966,NaN,2.360,68.53,94.72
2018-08-29,0.57,2.96,2.895,2.863,2.890,2.979,NaN,2.230,69.51,94.60
2018-08-30,0.58,2.96,2.874,2.901,2.988,3.074,NaN,1.961,70.25,94.72
2018-08-31,0.59,2.98,2.916,2.939,3.029,3.114,"2,567",2.320,69.80,95.14
2018-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.059,NaN,NaN
2018-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.873,69.92,NaN
2018-09-03,NaN,NaN,2.916,2.939,3.029,3.114,NaN,2.941,70.12,95.14
2018-09-04,0.57,2.96,2.823,2.842,2.937,3.027,NaN,4.038,69.87,95.44
2018-09-05,0.56,3.00,2.795,2.813,2.907,2.995,NaN,4.252,68.72,95.18
2018-09-06,0.56,2.93,2.772,2.791,2.885,2.974,NaN,3.716,67.77,95.02
...,...,...,...,...,...,...,...,...,...,...
2018-10-17,0.67,3.30,3.320,3.369,3.439,3.347,NaN,-0.385,69.75,95.58
2018-10-18,0.65,3.28,3.198,3.250,3.325,3.247,NaN,-0.228,68.65,95.90
2018-10-19,0.66,3.20,3.250,3.309,3.385,3.299,"3,095",-0.444,69.12,95.71
2018-10-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.577,NaN,NaN
2018-10-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.068,NaN,NaN
2018-10-22,0.64,3.20,3.138,3.214,3.290,3.211,NaN,0.204,69.17,96.01
2018-10-23,0.65,3.28,3.212,3.283,3.353,3.260,NaN,0.462,66.43,95.96
2018-10-24,0.64,3.42,3.166,3.227,3.290,3.201,NaN,0.911,66.82,96.43
2018-10-25,0.65,3.42,3.202,3.256,3.317,3.226,NaN,0.827,67.33,96.68
2018-10-26,0.64,3.27,3.185,3.225,3.290,3.208,"3,143",0.582,67.59,96.36
2018-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.832,NaN,NaN
2018-10-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.651,NaN,NaN
2018-10-29,0.64,3.20,3.185,3.198,3.261,3.181,NaN,0.508,67.04,96.58
2018-10-30,0.64,3.27,3.187,3.244,3.163,2.934,NaN,0.754,66.18,97.01
2018-10-31,0.65,3.31,3.261,3.302,3.210,2.967,NaN,0.776,65.31,97.13
2018-11-01,0.65,3.36,3.237,3.275,3.173,2.939,NaN,NaN,63.69,96.28
2018-11-02,0.66,3.26,3.284,3.310,3.192,2.938,"3,208",NaN,63.14,96.54
2018-11-05,0.71,3.53,3.567,3.575,3.407,3.091,NaN,NaN,63.10,96.28
2018-11-06,0.71,3.53,3.555,3.583,3.436,3.113,NaN,NaN,62.21,96.32
2018-11-07,0.71,3.54,3.555,3.569,3.428,3.108,NaN,NaN,61.67,96.00
2018-11-08,0.71,3.54,3.543,3.553,3.414,3.095,NaN,NaN,60.67,96.72
2018-11-09,0.74,3.74,3.719,3.721,3.566,3.176,"3,247",NaN,60.19,96.91
2018-11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.00
2018-11-12,0.76,3.96,3.788,3.800,3.660,3.293,NaN,NaN,59.93,97.54
2018-11-13,0.82,4.10,4.101,4.147,4.019,3.712,NaN,NaN,55.69,97.30
2018-11-14,0.97,NaN,4.837,4.898,4.770,4.472,NaN,NaN,56.25,96.80
2018-11-15,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.46,96.93
2018-11-16,0.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.46,96.47
2018-11-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.30,96.43
2018-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.98,96.36